:root {
  --size: 32px;
  --duration: 800ms;
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Ensures background color */
}

.boxes {
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
  animation-delay: 0.3s; /* Small delay to start animation */
}

.box:nth-child(1) {
  transform: translate(100%, 0);
  animation: box1 var(--duration) linear infinite;
}

.box:nth-child(2) {
  transform: translate(0, 100%);
  animation: box2 var(--duration) linear infinite;
}

.box:nth-child(3) {
  transform: translate(100%, 100%);
  animation: box3 var(--duration) linear infinite;
}

.box:nth-child(4) {
  transform: translate(200%, 0);
  animation: box4 var(--duration) linear infinite;
}

.box div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  transform: translateZ(calc(var(--size) / 2));
  background: #268f39; /* Main green */
}

.box div:nth-child(1) {
  top: 0;
  left: 0;
}

.box div:nth-child(2) {
  background: #278f2c; /* Dark green */
  right: 0;
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}

.box div:nth-child(3) {
  background: #29972e; /* Light green */
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}

.box div:nth-child(4) {
  background: #e8f5e9; /* Light green shadow */
  top: 0;
  left: 0;
  transform: translateZ(calc(var(--size) * 3 * -1));
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
